body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;

}
.head-color{
    color: orange;
}
 
.flexible-container{
    display: flex;
}
.half-width{
    width:50%;
    padding-left: 10%;
   
    
    
    
}
.half-width img{
    width:50%;
    margin-left: 30px;

    
}
.link-buton{
    text-decoration: none;
   
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(orange, red);
    color: aliceblue;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.my-dream{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.join-buton{
    text-decoration: none;
    background-image: linear-gradient(green,red);
    padding: 10px 20px;
    color:azure;
    border-radius: 10px;
}