body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;

}
.head-color{
    color: orange;
}
 
.flexible-container{
    display: flex;
    margin-bottom: 30px;
}
.half-width{
    width:50%;
    padding-left: 10%;
   
    
    
    
}
.half-width img{
    width:50%;
    margin-left: 30px;

    
}
.link-buton{
    text-decoration: none;
   
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(orange, red);
    color: aliceblue;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.my-dream{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.join-buton{
    text-decoration: none;
    background-image: linear-gradient(green,red);
    padding: 10px 20px;
    color:azure;
    border-radius: 10px;
}
.experience{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 20px;
    box-shadow: 10px 12px 40px grey;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border{
    border-left: 5px solid;
     border-image: linear-gradient(green,red);
     border-image-slice: 1;
}
#border2{
    border-left: 5px solid;
     border-image: linear-gradient(rgb(65, 185, 233),rgb(72, 36, 233));
     border-image-slice: 1;
}
footer{
    margin-top: 100px;
}
footer p{
    text-align:center;
    
}